<section id="sliderSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="slick_slider">
        <% layout.posts.slice(0,4).forEach((item)=> { %>
          <div class="single_iteam"> <a href="/post/<%= item.post_id %>"> <img src="img/<%= item.image_url %>" alt=""></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" href="/post/<%= item.post_id %>">
                  <%= item.title %>
                </a></h2>
              <p>
                <%= item.post_content %>
              </p>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="latest_post">
        <h2><span>Bài viết mới</span></h2>
        <div class="latest_post_container">
          <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
          <ul class="latest_postnav">
            <% layout.latest_posts.slice(0,5).forEach((item)=> { %>
              <li>
                <div class="media"> <a href="/post/<%= item.post_id %>" class="media-left"> <img alt=""
                      src="img/<%= item.image_url %>"> </a>
                  <div class="media-body"> <a href="/post/<%= item.post_id %>" class="catg_title">
                      <%= item.title %>
                    </a> </div>
                </div>
              </li>
              <% }) %>
          </ul>
          <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- content section -->
<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="single_post_content">
          <h2><span>THỂ THAO</span></h2>
          <div class="single_post_content_left">
            <ul class="business_catgnav  wow fadeInDown">
              <% if(data.TheThao && data.TheThao.length> 0) { %>
                <li>
                  <figure class="bsbig_fig"> <a href="/post/<%= data.TheThao[0].post_id %>" class="featured_img"> <img alt=""
                        src="img/<%= data.TheThao[0].image_url %>"> <span class="overlay"></span> </a>
                    <figcaption> <a href="/post/<%= data.TheThao[0].post_id %>">
                        <%= data.TheThao[0].title %>
                      </a> </figcaption>
                    <p>
                      <%= data.TheThao[0].post_content %>
                    </p>
                  </figure>
                </li>
            </ul>
          </div>
          <div class="single_post_content_right">
            <ul class="spost_nav">
              <% data.TheThao.slice(1,5).forEach((item)=> { %>
                <li>
                  <div class="media wow fadeInDown"> <a href="/post/<%= item.post_id %>" class="media-left"> <img alt=""
                        src="img/<%= item.image_url %>"> </a>
                    <div class="media-body"> <a href="/post/<%= item.post_id %>" class="catg_title">
                        <%= item.title %>
                      </a> </div>
                  </div>
                </li>
                <% }) %>
                  <% } %>
            </ul>
          </div>
        </div>
        <div class="fashion_technology_area">
          <div class="fashion">
            <div class="single_post_content">
              <h2><span>THỜI TRANG</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <% if(data.ThoiTrang && data.ThoiTrang.length> 0) { %>
                    <figure class="bsbig_fig"> <a href="/post/<%= data.ThoiTrang[0].post_id %>" class="featured_img"> <img alt=""
                          src="img/<%= data.ThoiTrang[0].image_url %>"> <span class="overlay"></span> </a>
                      <figcaption> <a href="/post/<%= data.ThoiTrang[0].post_id %>">
                          <%= data.ThoiTrang[0].title %>
                        </a> </figcaption>
                      <p>
                        <%= data.ThoiTrang[0].post_content %>
                      </p>
                    </figure>
                    <% } %>
                </li>
              </ul>
              <ul class="spost_nav">
                <% data.ThoiTrang.slice(1,5).forEach((item)=> { %>
                  <li>
                    <div class="media wow fadeInDown"> <a href="/post/<%= item.post_id %>" class="media-left"> <img alt=""
                          src="img/<%= item.image_url %>"> </a>
                      <div class="media-body"> <a href="/post/<%= item.post_id %>" class="catg_title">
                          <%= item.title %>
                        </a> </div>
                    </div>
                  </li>
                  <% }) %>
              </ul>
            </div>
          </div>
          <div class="technology">
            <div class="single_post_content">
              <h2><span>CÔNG NGHỆ</span></h2>
              <ul class="business_catgnav">
                <li>
                  <% if (data.CongNghe && data.CongNghe.length> 0) { %>
                    <figure class="bsbig_fig wow fadeInDown"> <a href="/post/<%= data.CongNghe[0].post_id %>" class="featured_img">
                        <img alt="" src="img/<%= data.CongNghe[0].image_url %>"> <span class="overlay"></span> </a>
                      <figcaption> <a href="/post/<%= data.CongNghe[0].post_id %>">
                          <%= data.CongNghe[0].title %>
                        </a> </figcaption>
                      <p>
                        <%= data.CongNghe[0].post_content %>
                      </p>
                    </figure>
                    <% } %>
                </li>
              </ul>
              <ul class="spost_nav">
                <% data.CongNghe.slice(1,5).forEach((item)=> { %>
                  <li>
                    <div class="media wow fadeInDown"> <a href="/post/<%= item.post_id %>" class="media-left"> <img alt=""
                          src="img/<%= item.image_url %>"> </a>
                      <div class="media-body"> <a href="/post/<%= item.post_id %>" class="catg_title">
                          <%= item.title %>
                        </a> </div>
                    </div>
                  </li>
                  <% }) %>
              </ul>
            </div>
          </div>
        </div>
        <div class="single_post_content">
          <h2><span>GAMES</span></h2>
          <div class="single_post_content_left">
            <ul class="business_catgnav">
              <li>
                <% if (data.Game && data.Game.length> 0) { %>
                  <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="/post/<%= data.Game[0].post_id %>"> <img
                        src="img/<%= data.Game[0].image_url %>" alt=""> <span class="overlay"></span> </a>
                    <figcaption> <a href="/post/<%= data.Game[0].post_id %>">
                        <%= data.Game[0].title %>
                      </a> </figcaption>
                    <p>
                      <%= data.Game[0].post_content %>
                    </p>
                  </figure>
                  <% } %>
              </li>
            </ul>
          </div>
          <div class="single_post_content_right">
            <ul class="spost_nav">
              <% data.Game.slice(1,5).forEach((item)=> { %>
                <li>
                  <div class="media wow fadeInDown"> <a href="/post/<%= item.post_id %>" class="media-left"> <img alt=""
                        src="img/<%= item.image_url %>"> </a>
                    <div class="media-body"> <a href="/post/<%= item.post_id %>" class="catg_title">
                        <%= item.title %>
                      </a> </div>
                  </div>
                </li>
                <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <aside class="right_content">
        <div class="single_sidebar">
          <h2><span>BÀI VIẾT THỊNH HÀNH</span></h2>
          <ul class="spost_nav">
            <% layout.posts.slice(0,4).forEach((item)=> { %>
              <li>
                <div class="media wow fadeInDown"> <a href="/post/<%= item.post_id %>" class="media-left"> <img alt=""
                      src="img/<%= item.image_url %>"> </a>
                  <div class="media-body"> <a href="/post/<%= item.post_id %>" class="catg_title">
                      <%= item.title %>
                    </a> </div>
                </div>
              </li>
              <% }) %>
          </ul>
        </div>
        <div class="single_sidebar wow fadeInDown">
          <h2><span>DANH MỤC</span></h2>
          <select class="catgArchive">
            <option>Chọn danh mục</option>
            <% layout.categories.slice(0,10).forEach((item)=> { %>
              <option>
                <%= item.category_name %>
              </option>
              <% }) %>
          </select>
        </div>
      </aside>
    </div>
  </div>
</section>